<?xml version="1.0"?>
<config>
    <modules>
        <Fballiano_HideEmptyCategories>
            <version>0.2.0</version>
        </Fballiano_HideEmptyCategories>
    </modules>
    <global>
        <helpers>
            <hideemptycategories>
                <class>Fballiano_HideEmptyCategories_Helper</class>
            </hideemptycategories>
        </helpers>
        <models>
            <hideemptycategories>
                <class>Fballiano_HideEmptyCategories_Model</class>
            </hideemptycategories>
            <catalog_resource>
                <rewrite>
                    <category_flat>Fballiano_HideEmptyCategories_Model_Catalog_Resource_Category_Flat</category_flat>
                </rewrite>
            </catalog_resource>
        </models>
        <events>
            <catalog_category_flat_loadnodes_before>
                <observers>
                    <catalog_category_flat_loadnodes_before_handler>
                        <type>model</type>
                        <class>hideemptycategories/observer</class>
                        <method>catalogCategoryFlatLoadnodesBefore</method>
                    </catalog_category_flat_loadnodes_before_handler>
                </observers>
            </catalog_category_flat_loadnodes_before>
            <catalog_category_collection_load_before>
                <observers>
                    <catalog_category_collection_load_before_handler>
                        <type>model</type>
                        <class>hideemptycategories/observer</class>
                        <method>catalogCategoryCollectionLoadBefore</method>
                    </catalog_category_collection_load_before_handler>
                </observers>
            </catalog_category_collection_load_before>
            <catalog_category_collection_load_after>
                <observers>
                    <catalog_category_collection_load_after_handler>
                        <type>model</type>
                        <class>hideemptycategories/observer</class>
                        <method>catalogCategoryCollectionLoadAfter</method>
                    </catalog_category_collection_load_after_handler>
                </observers>
            </catalog_category_collection_load_after>
        </events>
    </global>
</config>
